<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1211828186-u1lqmshg6qk10c8st3mcsn84t72ui3gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1211828186-u1lqmshg6qk10c8st3mcsn84t72ui3gc</string>
	<key>API_KEY</key>
	<string>AIzaSyC3j5sM3PvOvgPmsOFL1CTU3OYPeNp3i54</string>
	<key>GCM_SENDER_ID</key>
	<string>1211828186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuhammedKocabas.FunSeeker</string>
	<key>PROJECT_ID</key>
	<string>funseekerios</string>
	<key>STORAGE_BUCKET</key>
	<string>funseekerios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1211828186:ios:c097290265c162235462e3</string>
</dict>
</plist>